* {
    margin: 0px;
    padding: 0px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
}

.calKeys {
    display: inline-grid;
    grid-template-columns: repeat(4, 2fr);
    width: 350px;
    height: 300px;
    border: 2px solid blue;
}

.screen {
    border: 2px solid yellow;
    width: 350px;
    height: 140px;
}

.preLog {
    border: 2px solid brown;
    height: 70px;
}

.answerScreen {
    border: 2px solid violet;
    height: 70px;
}

.keys {
    border: 2px solid black;
}